<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="guides">
    <h2>Our guides</h2>
    <div class="guides-list">
        <div class="guide-card" th:each="guide : ${guides}">
            <img width="200" height="200" th:src="${guide['picture']}" alt="User Avatar" class="user-avatar">
            <div class="guide-info">
                <p><strong>Email:</strong> <span th:text="${guide['email']}"></span></p>

                <!-- Afișează descrierea doar dacă există -->

                <td th:text="'Description: ' + ${guide['description']}"></td>

            </div>
        </div>
    </div>
</div>
</body>
</html>
