<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:Email="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script src="http://localhost:35729/livereload.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="navbar-container" th:fragment="header">
    <div class="navbar-container-image">
        <img th:src="@{/images/logo2.png}" alt="TripToday logo">
    </div>

    <button class="navbar-toggler">&#9776;</button>

    <div class="navbar-container-items" sec:authorize="isAuthenticated()">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/contact}">Contact us</a>
        <a th:href="@{/trips}">Upcoming trips</a>
        <a th:href="@{/guides}">Meet the guides</a>
        <a th:href="@{/profile}">My profile</a>
        <a th:href="@{/logout}">Sign out</a>
    </div>
    <div class="navbar-container-items" sec:authorize="!isAuthenticated()">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/contact}">Contact us</a>
        <a th:href="@{/guides}">Meet the guides</a>
        <a th:href="@{/oauth2/authorization/okta}">Sign in</a>
    </div>

    <hr>
    <br>
</div>

<script>
    $(document).ready(function () {
        $('.navbar-toggler').on('click', function () {
            $('.navbar-container-items').toggleClass('active');
        });
    });
</script>

</body>
</html>
