<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<div th:fragment="profile" class="profile-card">
    <img width="200" height="200" th:src="${user.get('picture')}"/>
    <p th:text="'Your email: ' + ${user.get('email')}"></p>
    <p th:text="'Account role: ' + ${user.get('role')}"></p>
    <p id="user-id" th:text="${user.get('user_id')}"></p>

    <!-- Câmp vizibil doar pentru utilizatori cu rol "Guide" -->
    <div th:if="${user.get('role') == 'Guide'}" class="description-container">
        <label><strong>Your description:</strong></label>
        <!-- Populează textarea cu descrierea din model -->
        <textarea id="description" th:text="${description}" placeholder="Enter your description..."></textarea>
        <button type="button" th:onclick="updateGuideDescription(document.getElementById('user-id').innerText, document.getElementById('description').value)">Save Description</button>
    </div>

    <!-- Câmp vizibil doar dacă user_id începe cu "auth0" -->
    <div th:if="${#strings.startsWith(user.get('user_id'), 'auth0')}">
        <input id="image-url-input" type="text" placeholder="Enter URL of picture here">
        <button type="button" th:onclick="updatePicture(document.getElementById('user-id').innerText, document.getElementById('image-url-input').value)">Update picture</button>
    </div>

    <div th:each="trip : ${upcomingTrips}">
        <div>
            <p>
                <span th:if="${trip.guideId == user.get('user_id')}"><strong>You are the guide for this trip</strong></span>
                <span th:unless="${trip.guideId == user.get('user_id')}">Guide: <span th:text="${trip.guideId}"></span></span>
            </p>

            <p>Destination: <span th:text="${trip.destination}"></span></p>
            <p>Departure: <span th:text="${trip.departureLocation}"></span></p>
            <p>Departure Date: <span th:text="${trip.departureDate}"></span></p>
            <p>Return Date: <span th:text="${trip.returnDate}"></span></p>
            <p>Duration: <span th:text="${trip.durationDays}"></span> days</p>
            <p>Available Spots: <span th:text="${trip.availableSpots}"></span></p>
            <p>Fee: <span th:text="${trip.registrationFee}"></span> USD</p>
            <p>Hotel: <span th:text="${trip.hotelName}"></span></p>
            <img th:src="${trip.picture}" width="200" height="150" />
            <hr/>
        </div>
    </div>

    <div th:each="trip : ${pastTrips}">
        <div>
            <p>
                <span th:if="${trip.guideId == user.get('user_id')}"><strong>You were the guide for this trip</strong></span>
<!--                <span th:unless="${trip.guideId == user.get('user_id')}">Guide: <span th:text="${trip.guideId}"></span></span>-->
            </p>

            <p>Destination: <span th:text="${trip.destination}"></span></p>
            <p>Departure: <span th:text="${trip.departureLocation}"></span></p>
            <p>Departure Date: <span th:text="${trip.departureDate}"></span></p>
            <p>Return Date: <span th:text="${trip.returnDate}"></span></p>
            <p>Duration: <span th:text="${trip.durationDays}"></span> days</p>
            <p>Available Spots: <span th:text="${trip.availableSpots}"></span></p>
            <p>Fee: <span th:text="${trip.registrationFee}"></span> USD</p>
            <p>Hotel: <span th:text="${trip.hotelName}"></span></p>
            <img th:src="${trip.picture}" width="200" height="150" />
            <hr/>
        </div>
    </div>



</div>

</body>
</html>
