<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<div th:fragment="profile" class="profile-card">
    <img width="200" height="200" th:src="${profile.get('picture')}"/>
    <p th:text="'Your email: ' + ${profile.get('email')}"></p>
    <p th:text="'Account role: ' + ${profile.get('role')}"></p>
    <p id="user-id" th:text="${profile.get('user_id')}" style="display: none"></p>

    <!-- Câmp vizibil doar pentru utilizatori cu rol "Guide" -->
    <div th:if="${profile.get('role') == 'Guide'}" class="description-container">
        <label for="description"><strong>Your description:</strong></label>
        <textarea id="description" placeholder="Enter your description..."></textarea>
        <button type="button" th:onclick="updateGuideDescription(document.getElementById('user-id').innerText, document.getElementById('description').value)">Save Description</button>
    </div>

    <!-- Câmp vizibil doar dacă user_id începe cu "auth0" -->
    <div th:if="${#strings.startsWith(profile.get('user_id'), 'auth0')}">
        <input id="image-url-input" type="text" placeholder="Enter URL of picture here">
        <button type="button" th:onclick="updatePicture(document.getElementById('user-id').innerText, document.getElementById('image-url-input').value)">Update picture</button>
    </div>
</div>

</body>
</html>
