<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src="http://localhost:35729/livereload.js"></script>

    <title>Contact us | TripToday</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div>Welcome to TripToday, your trusted partner in unforgettable travel experiences. We are a passionate team dedicated to curating unique trips to a variety of stunning destinations worldwide. Whether you're looking for an adventurous getaway, a relaxing retreat, or a cultural immersion, we've got something for everyone.

        Our team consists of travel enthusiasts, local experts, and experienced planners who understand what it takes to create the perfect journey. We believe that travel should be more than just a vacation – it should be an opportunity to explore new places, meet fascinating people, and create memories that last a lifetime.

        At TripToday, we take pride in offering personalized services that cater to your interests and preferences. Our mission is to make every trip an experience that exceeds expectations, from seamless bookings to exceptional customer service.

        Join us as we explore the world together, one trip at a time!</div>

</body>
</html>
