<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageText.title ?: 'My profile | TripToday'}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/profile-page.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/upcoming-trips-page.css}"/>
    <script src="http://localhost:35729/livereload.js" th:if="${@environment.acceptsProfiles('dev')}"></script>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="profile-container container">
    <h1 class="page-main-title" th:text="${pageText.profilePageMainTitle ?: 'Your Profile'}"></h1>


    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <p th:text="${successMessage}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <p th:text="${errorMessage}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="profile-info-card">
        <div th:if="${currentUserId != null}">
            <img class="profile-avatar" width="150" height="150" th:src="${displayUserPicture}"
                 th:alt="${userEmail != null ? userEmail + ' Profile Picture' : 'Profile Picture'}"/>
            <p class="text-center">
                <strong th:text="${pageText.emailLabel}"></strong> <span th:text="${userEmail}"></span>
            </p>
            <p class="text-center" th:if="${not #lists.isEmpty(userDisplayRoles)}">
                <strong th:text="${pageText.roleLabel}"></strong>
                <span th:text="${#strings.listJoin(userDisplayRoles, ' | ')}"></span>
            </p>
        </div>
        <div th:unless="${currentUserId != null}">
            <p class="text-danger" th:text="${pageText.noUserDetails}"></p>
        </div>


        <div th:if="${isGuide}" class="description-container">
            <form th:action="@{/profile/update-description}" method="post">
                <div class="form-group">
                    <label for="description"><strong th:text="${pageText.guideDescriptionLabel}"></strong></label>
                    <textarea id="description" name="description" class="form-control" th:text="${description}"
                              th:placeholder="${pageText.guideDescriptionPlaceholder}" maxlength="200"></textarea>
                    <div id="description-char-count" class="char-counter text-right text-muted small"></div>
                </div>
                <button type="submit" class="btn btn-primary" th:text="${pageText.guideDescriptionSaveButton}"></button>
            </form>
        </div>

        <div th:if="${isAuth0User}" class="picture-update-container">
            <form th:action="@{/profile/update-picture}" method="post">
                <div class="form-group">
                    <label for="image-url-input"><strong th:text="${pageText.pictureUpdateLabel}"></strong></label>
                    <input id="image-url-input" name="imageUrl" type="url" class="form-control"
                           th:placeholder="${pageText.pictureUpdatePlaceholder}" required>
                </div>
                <button type="submit" class="btn btn-primary" th:text="${pageText.pictureUpdateButton}"></button>
            </form>
        </div>
    </div>

    <div class="trips-section">

        <div class="trip-toggle-buttons">
            <button id="show-upcoming-btn" class="btn btn-outline-primary active"
                    th:text="${pageText.upcomingTripsButton}"></button>
            <button id="show-past-btn" class="btn btn-outline-primary" th:text="${pageText.pastTripsButton}"></button>
        </div>

        <div id="upcoming-trips-content">
            <h4 th:text="${pageText.upcomingTripsTitle}"></h4>
            <div th:if="${#lists.isEmpty(pageUpcomingTrips) and upcomingPage == 0}">
                <p th:text="${pageText.noUpcomingTrips}"></p>
            </div>
            <div th:each="trip, iterStat : ${pageUpcomingTrips}" class="trip-card">
                <div class="trip-column-image">
                    <img th:src="@{${trip.picture}}"
                         th:alt="${trip.destination != null ? trip.destination : 'Trip Image'}"/>
                    <p th:text="${trip.destination}"></p>
                </div>
                <div class="trip-details-wrapper">
                    <p th:if="${trip.canceled}" class="text-danger font-weight-bold mb-2"
                       th:text="${pageText.tripCanceledMessageUser}"></p>
                    <div class="trip-info-grid">
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.departureLocationLabel}"></h1>
                            <p th:text="${trip.departureLocation}"></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.departureDateLabel}"></h1>
                            <p th:text="${#temporals.format(trip.departureDate, 'dd-MM-yyyy')}"></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.departureHourLabel}"></h1>
                            <p><span th:text="${trip.departureHour}"></span> <span
                                    th:text="${pageText.hourUnit}"></span></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.returnDateLabel}"></h1>
                            <p th:text="${#temporals.format(trip.returnDate, 'dd-MM-yyyy')}"></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.durationLabel}"></h1>
                            <p><span th:text="${trip.durationDays}"></span><span
                                    th:text="${pageText.durationUnit}"></span></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.availableSpotsLabel}"></h1>
                            <p><span th:text="${trip.availableSpots}"></span><span
                                    th:text="${pageText.spotsUnit}"></span></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.enrollmentFeeLabel}"></h1>
                            <p><span th:text="${trip.registrationFee}"></span><span
                                    th:text="${pageText.feeUnit}"></span></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.hotelLabel}"></h1>
                            <p th:text="${trip.hotelName ?: pageText.hotelNotSpecified}"></p>
                        </div>
                        <div class="trip-wrapper-details-item trip-guide-item">
                            <h1 th:text="${pageText.guideLabel}"></h1>
                            <p>
                                <span th:if="${trip.guideId == currentUserId}" class="font-weight-bold"
                                      th:text="${pageText.guideYouUpcoming}"></span>
                                <span th:unless="${trip.guideId == currentUserId}"
                                      th:text="${!#lists.isEmpty(upcomingTripGuideEmailsOnPage) and iterStat.index < #lists.size(upcomingTripGuideEmailsOnPage) and upcomingTripGuideEmailsOnPage[iterStat.index] != null ? upcomingTripGuideEmailsOnPage[iterStat.index] : pageText.guideNotAvailable}">
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="trip-wrapper-description"
                         th:if="${trip.description != null and !#strings.isEmpty(trip.description)}">
                        <p th:text="${#strings.abbreviate(trip.description, 200)}"></p>
                    </div>
                </div>
            </div>
            <div class="pagination" th:if="${totalUpcomingPages > 1}">
                <a th:if="${upcomingPage > 0}" th:href="@{'/profile'(up_page=${upcomingPage - 1})}">
                    <button th:utext="${pageText.paginationPreviousSymbol}"></button>
                </a>
                <span th:each="i : ${#numbers.sequence(0, totalUpcomingPages - 1)}">
                    <a th:if="${i != upcomingPage}" th:href="@{'/profile'(up_page=${i})}">
                        <button th:text="${i + 1}"></button>
                    </a>
                    <span th:if="${i == upcomingPage}" class="current-page" th:text="${i + 1}"></span>
                </span>
                <a th:if="${upcomingPage + 1 < totalUpcomingPages}"
                   th:href="@{'/profile'(up_page=${upcomingPage + 1})}">
                    <button th:utext="${pageText.paginationNextSymbol}"></button>
                </a>
            </div>
        </div>

        <div id="past-trips-content" style="display: none;">
            <h4 th:text="${pageText.pastTripsTitle}"></h4>
            <div th:if="${#lists.isEmpty(pagePastTrips) and pastPage == 0}">
                <p th:text="${pageText.noPastTrips}"></p>
            </div>
            <div th:each="trip, iterStat : ${pagePastTrips}" class="trip-card">
                <div class="trip-column-image">
                    <img th:src="@{${trip.picture}}"
                         th:alt="${trip.destination != null ? trip.destination : 'Trip Image'}"/>
                    <p th:text="${trip.destination}"></p>
                </div>
                <div class="trip-details-wrapper">
                    <p th:if="${trip.canceled}" class="text-danger font-weight-bold mb-2"
                       th:text="${pageText.tripCanceledMessageGeneric}"></p>
                    <div class="trip-info-grid">
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.departureLocationLabel}"></h1>
                            <p th:text="${trip.departureLocation}"></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.departureDateLabel}"></h1>
                            <p th:text="${#temporals.format(trip.departureDate, 'dd-MM-yyyy')}"></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.departureHourLabel}"></h1>
                            <p><span th:text="${trip.departureHour}"></span> <span
                                    th:text="${pageText.hourUnit}"></span></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.returnDateLabel}"></h1>
                            <p th:text="${#temporals.format(trip.returnDate, 'dd-MM-yyyy')}"></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.durationLabel}"></h1>
                            <p><span th:text="${trip.durationDays}"></span><span
                                    th:text="${pageText.durationUnit}"></span></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.remainingSpotsLabel}"></h1>
                            <p><span th:text="${trip.availableSpots}"></span><span
                                    th:text="${pageText.spotsUnit}"></span></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.feeLabel}"></h1>
                            <p><span th:text="${trip.registrationFee}"></span><span
                                    th:text="${pageText.feeUnit}"></span></p>
                        </div>
                        <div class="trip-wrapper-details-item">
                            <h1 th:text="${pageText.hotelLabel}"></h1>
                            <p th:text="${trip.hotelName ?: pageText.hotelNotSpecified}"></p>
                        </div>
                        <div class="trip-wrapper-details-item trip-guide-item">
                            <h1 th:text="${pageText.guideLabel}"></h1>
                            <p>
                                <span th:if="${trip.guideId == currentUserId}" class="font-weight-bold"
                                      th:text="${pageText.guideYouPast}"></span>
                                <span th:unless="${trip.guideId == currentUserId}"
                                      th:text="${!#lists.isEmpty(pastTripGuideEmailsOnPage) and iterStat.index < #lists.size(pastTripGuideEmailsOnPage) and pastTripGuideEmailsOnPage[iterStat.index] != null ? pastTripGuideEmailsOnPage[iterStat.index] : pageText.guideNotAvailable}">
                                 </span>
                            </p>
                        </div>
                    </div>
                    <div class="trip-wrapper-description"
                         th:if="${trip.description != null and !#strings.isEmpty(trip.description)}">
                        <p th:text="${#strings.abbreviate(trip.description, 200)}"></p>
                    </div>
                </div>
            </div>
            <div class="pagination" th:if="${totalPastPages > 1}">
                <a th:if="${pastPage > 0}" th:href="@{'/profile'(pa_page=${pastPage - 1})}">
                    <button th:utext="${pageText.paginationPreviousSymbol}"></button>
                </a>
                <span th:each="i : ${#numbers.sequence(0, totalPastPages - 1)}">
                    <a th:if="${i != pastPage}" th:href="@{'/profile'(pa_page=${i})}">
                        <button th:text="${i + 1}"></button>
                    </a>
                    <span th:if="${i == pastPage}" class="current-page" th:text="${i + 1}"></span>
                </span>
                <a th:if="${pastPage + 1 < totalPastPages}" th:href="@{'/profile'(pa_page=${pastPage + 1})}">
                    <button th:utext="${pageText.paginationNextSymbol}"></button>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script th:src="@{js/profile.js}"></script>
<script th:src="@{js/header.js}"></script>

</body>
</html>